
/* ============================================================================================================ */
/* 										W3C FLY-OUT MenuText													*/
/* ============================================================================================================ */

/*************************************** COMMENTS fly-out menu W3C ******************************* 23-7-2023 ****/
/*																												*/
/* https://www.w3.org/WAI/tutorials/menus/flyout/#flyoutnavmousefixed 											*/
/*																												*/
/*************************************** COMMENTS fly-out menu W3C ******************************* 23-7-2023 ****/

/************************************************************************************************/
/* CSS code to show and hide the submenus when the parent menu items are hovered				*/
/*                                                                                              */
/* ul > li selects all li that are a direct child of ul 										*/
/* ul li selects all li that are anywhere within (descending as deep as you like) a ul			*/
/************************************************************************************************/
/* 6-9-2023																						*/
/*	remove nav > ul li:hover ul { display: block;}												*/
/*	is now set in d-flyout > ul > li:hover ul													*/
/************************************************************************************************/
nav > ul li ul { display: none; }
/*nav > ul li:hover ul { display: block;}*/


/*************************************** COMMENTS m-menu-middle *************************************************/
/*																												*/
/* 30-7-2023                                                                                    				*/
/*  nav class='m-menu'                                                                          				*/
/*      Most browsers will display the nav element with the following default values:         					*/
/*          'display: block'                                                                    				*/
/* 	Need to check it out - if so the mobile-menu-main li is not needed                      					*/
/*************************************** COMMENTS m-menu-middle *************************************************/
	#m-menu-middle
    {
        background-color: olive;
        color: blue;
    }

    .m-menu-middle
    {
        background-color: yellow;
		display: none;
    }

/*************************************** MEDIA SCREEN m-menu-middle *********************************************/
/*																												*/
/* 29-9-2023																									*/
/*	set max-width from 600 to 800 (769 seems to be the max width for tablets									*/
/*																												*/
/* 7-9-2023																										*/
/*	z-index: 2 ensure the hamburger menu is always shown on top in mobile										*/
/*																												*/
/*************************************** MEDIA SCREEN m-menu-middle *********************************************/

/* On screens that are 600px or less, set the background color to lightgreen */

@media screen and (max-width: 800px) { 

	.m-menu-middle
    {
    	background-color: lightgreen;
		display: block;
		text-align: left;
z-index: 2;
    }

	.m-menu-hide
    {
		display: none;
    }
}


/*************************************** BEGIN MEDIA SCREEN m-flyout ************************************************/
/*																													*/
/* 29-9-2023																										*/
/*	set max-width from 600 to 800 (769 seems to be the max width for tablets										*/
/*																													*/
/*************************************** BEGN MEDIA SCREEN m-flyout *************************************************/

/* On screens that are 600px or less, set the background color to lightgreen */

@media screen and (max-width: 800px) {

/*************************************** COMMENTS m-flyout ul ***************************************************/
/*																												*/
/* 28-9-2023																									*/
/*	set 'padding: 0' to avoid that sub-menu list item start too much from the left side							*/
/*		set 'margin-left: 5px' in .m-flyout > ul > li															*/
/*																												*/
/* 18-9-2023																									*/
/*	moved 'background-color: #00bfff;' to class container-items													*/
/*		so the menu in d-flyout or m-flyout topMenuFlexWrapper													*/
/*		and the info-box in bottomContainerWrapper are in full blue												*/
/*																												*/
/*************************************** COMMENTS m-flyout ul ***************************************************/
	.m-flyout ul
	{
		list-style-type: none;
/*            float:right;*/
/*		margin: 0;*/
		padding: 0;
/*		overflow: hidden;*/
/*background-color: #00bfff;*/
	}

/*************************************** COMMENTS m-flyout > ul > li ********************************************/
/*************************************** OLD COMMENTS m-flyout li ***********************************************/
/*																												*/
/* 28-9-2023																									*/
/*	set 'margin-left: 5px' 																						*/
/*		because padding was removed from .m-flyout ul															*/
/*	remove 'color: white'																						*/
/*		by default it is not possible to change the color of a list item										*/
/*																												*/
/* 7-9-2023																										*/
/*	Need to remove display: inline-block because in mobile version 												*/
/*		we do not want list items horizontally																	*/
/*	Set the margin: 5px to create space between the list items													*/
/*																												*/
/* 23-8-2023                                                                                					*/
/*  Need to modify menu-wrapper because we only set li and need to set > ul > li            					*/
/*      makes a difference because we only want to set the li-elements of the first level   					*/
/*      and not the li-elements of the sub-level                                            					*/
/*  We can also set 'text-align: center' then it will align all texts in the li             					*/
/*      also those in sub-menus, but we set 'text-align: center' in a                       					*/
/*  Need to remove the color because it is set in 'li a'                                    					*/
/*																												*/
/*************************************** COMMENTS m-flyout > ul > li ********************************************/
	.m-flyout > ul > li
	{
/*    	display: inline-block;*/
/*            float: right;*/
/*            float: none;*/
/*            padding: 10px;*/
/*color:  white;*/
margin: 5px;
	}

/*************************************** COMMENTS .m-flyout > ul > li ul ****************************************/
/*																												*/
/* 28-9-2023																									*/
/*	set 'margin-left: 5px' 																						*/
/*		because padding was removed from .m-flyout ul															*/
/*	by using .m-flyout > ul > li ul 																			*/
/* 		in case more sub-menus are used all will jump in														*/
/* 			because the whole box is set to jump in with ul	    												*/
/*																												*/
/*************************************** COMMENTS .m-flyout > ul > li ul ****************************************/
	.m-flyout > ul > li ul
	{
    	margin-left: 15px;
	}

/*************************************** COMMENTS m-flyout li a *************************************************/
/*																												*/
/* 10-9-2023																									*/
/*	Need to find out what sets the text-align to left ==> it is not here										*/
/*																												*/
/* 7-9-2023																										*/
/*	Remove the padding and set it in m-flyout > ul																*/
/*	Need to set text-align: left																				*/
/*		because removed it in mobile-menu-main																	*/
/*																												*/
/* 23-8-2023                                                                                					*/
/*  Need to find out what sets the center-align ==> it is not here                          					*/
/*  Color is set in li a:link                                                               					*/
/*                                                                                          					*/
/* 18-july-2023                                                                             					*/
/*  'display: block' has the same result as (p paragraf) and is needed to: 		            					*/
/*		- 10-9-2023: ensures the a:hover background setting applies to the whole line							*/
/*      - set space around the list options 										        					*/
/*      - avoids the a:hover background fills the topMenuBarRight                           					*/
/*          when 'overflow: hidden' in 'ul' is not used                                     					*/
/*  'padding: 16px' sets width and height of the 'a: hover' background				        					*/
/*																												*/
/* REMARK: handles the CSS layout of the link 																	*/
/*																												*/
/*************************************** COMMENTS m-flyout li a *************************************************/
	.m-flyout li a
	{
		display: block;
		color: white;
/*		text-align: center;*/
/*10-9		text-align: left;*/
/*		padding: 10px;*/
		text-decoration: none;
	/*	color: #FFF;*/
		color: $(menu.link.color);	
	}

/*************************************** COMMENTS m-flyout li.selected a ****************************************/
/*																												*/
/* 23-8-2023                                                                                					*/
/*  Need to find out what the difference is between "li.selected a" AND li a:active         					*/
/*                                                                                          					*/
/* 21-7-2023                                                                                					*/
/*  'color: red' in 'li.selected a sets the color when an option is selected                					*/
/*                                                                                          					*/
/* REMARK: handles the CSS layout of a link when it is selected		    			        					*/
/*************************************** COMMENTS m-flyout li.selected a ****************************************/
	.m-flyout li.selected a
	{
color: yellow;
	}

/*************************************** COMMENTS m-flyout li a:link ********************************************/
/*************************************** WAS m-flyout a:link ****************************************************/
/*																												*/
/* 1-9-2023																										*/
/*	Ctrl + H delete browser history for specific URL to clear visited status									*/
/*	Set the color of a:visited equal to a:link																	*/
/*	Change a:link into li a:link													        					*/
/*                                                                                          					*/
/* 23-8-2023                                                                                					*/
/*  When we set the color in .menu-flyout li a:link it applies to all links in the menu     					*/
/*                                                                                          					*/
/* 17-7-2023                                                                                					*/
/*  'color: green' in 'li a:link' sets the color of a unvisited li-item with a hyperlink    					*/
/*																					        					*/
/*                                                                                          					*/
/* 25-7-2023																									*/
/*	links default settings are:																					*/
/*		links are underlined																					*/
/*		unvisited links are blue																				*/
/*		visited links are purple																				*/
/*																												*/
/* REMARK: handles the CSS layout of an unvisited link           					        					*/
/*																												*/
/*************************************** COMMENTS m-flyout li a:link ********************************************/
    .m-flyout li a:link
    {
	    color: $(menu.link.color);	
/*color: green;*/
color: white;
    }

/*************************************** COMMENTS m-flyout li a:visited *****************************************/
/*************************************** WAS m-flyout a:visited *************************************************/
/*																												*/
/* 1-9-2023																										*/
/*	Ctrl + H delete browser history for specific URL to clear visited status									*/
/*	Set the color of a:visited equal to a:link																	*/
/*	Change a:visited into li a:visited												        					*/
/*																					        					*/
/* 17-7-2023                                                                                					*/
/*  'color: blue' in 'li a:visited' sets the color of a visited li-item with a hyperlink    					*/
/*																					        					*/
/*                                                                                          					*/
/* REMARK: handles the CSS layout of an visited link           					            					*/
/*                                                                                          					*/
/*************************************** COMMENTS m-flyout li a:visited *****************************************/
    .m-flyout li a:visited
    {
	    color: $(menu.link.color);	
/*color: blue;*/
color: white;
    }

/*************************************** COMMENTS m-flyout li a:hover *******************************************/
/*                                                                                          					*/
/* 28-9-2023																									*/
/*	remove text-decoration: underline to avoid the arrow is underlined											*/
/*																												*/
/* 23-8-2023                                                                                					*/
/*  Need to change the position of a:hover in the list of pseudo classes                    					*/
/*                                                                                          					*/
/* 17-7-2023                                                                                					*/
/*  'background-color: color' ensures the list item when hovered gets another color	        					*/
/*  'color: red' in 'li a:hover' sets the color when an option is hovered                   					*/
/*                                                                                          					*/
/* REMARK: handles the CSS layout of a link when it is hovered		    			        					*/
/*                                                                                          					*/
/*************************************** COMMENTS m-flyout li a:hover *******************************************/
	.m-flyout li a:hover
	{
		background-color: #111111;
/*		text-decoration: underline;*/
/*		color: #FFB;*/
		color: $(menu.link.hover.color);
		color: red;
	}
