
/* ============================================================================================================ */
/* 										W3C FLY-OUT MenuText													*/
/* ============================================================================================================ */

/*************************************** COMMENTS fly-out menu W3C ******************************* 23-7-2023 ****/
/*																												*/
/* https://www.w3.org/WAI/tutorials/menus/flyout/#flyoutnavmousefixed 											*/
/*																												*/
/*************************************** COMMENTS fly-out menu W3C ******************************* 23-7-2023 ****/

/************************************************************************************************/
/* CSS code to show and hide the submenus when the parent menu items are hovered				*/
/*                                                                                              */
/* ul > li selects all li that are a direct child of ul 										*/
/* ul li selects all li that are anywhere within (descending as deep as you like) a ul			*/
/************************************************************************************************/
/* 6-9-2023																						*/
/*	remove nav > ul li:hover ul { display: block;}												*/
/*	is now set in d-flyout > ul > li:hover ul													*/
/************************************************************************************************/
nav > ul li ul { display: none; }
/*nav > ul li:hover ul { display: block;}*/


/*************************************** COMMENTS m-menu-middle *************************************************/
/*																												*/
/* 30-7-2023                                                                                    				*/
/*  nav class='m-menu'                                                                          				*/
/*      Most browsers will display the nav element with the following default values:         					*/
/*          'display: block'                                                                    				*/
/* 	Need to check it out - if so the mobile-menu-main li is not needed                      					*/
/*************************************** COMMENTS m-menu-middle *************************************************/
	#m-menu-middle
    {
        background-color: olive;
        color: blue;
    }

    .m-menu-middle
    {
        background-color: yellow;
		display: none;
    }

/*************************************** MEDIA SCREEN m-menu-middle *********************************************/
/*																												*/
/* 29-9-2023																									*/
/*	set max-width from 600 to 800 (769 seems to be the max width for tablets									*/
/*																												*/
/* 7-9-2023																										*/
/*	z-index: 2 ensure the hamburger menu is always shown on top in mobile										*/
/*																												*/
/*************************************** MEDIA SCREEN m-menu-middle *********************************************/

/* On screens that are 600px or less, set the background color to lightgreen */

@media screen and (max-width: 800px) { 

	.m-menu-middle
    {
    	background-color: lightgreen;
		display: block;
		text-align: left;
z-index: 2;
    }

	.m-menu-hide
    {
		display: none;
    }
}


/*************************************** BEGIN MEDIA SCREEN m-flyout ************************************************/
/*																													*/
/* 29-9-2023																										*/
/*	set max-width from 600 to 800 (769 seems to be the max width for tablets										*/
/*																													*/
/*************************************** BEGN MEDIA SCREEN m-flyout *************************************************/

/* On screens that are 600px or less, set the background color to lightgreen */

@media screen and (max-width: 800px) {

/*************************************** COMMENTS m-flyout ul ***************************************************/
/*																												*/
/* 28-9-2023																									*/
/*	set 'padding: 0' to avoid that sub-menu list item start too much from the left side							*/
/*		set 'margin-left: 5px' in .m-flyout > ul > li															*/
/*																												*/
/* 18-9-2023																									*/
/*	moved 'background-color: #00bfff;' to class container-items													*/
/*		so the menu in d-flyout or m-flyout topMenuFlexWrapper													*/
/*		and the info-box in bottomContainerWrapper are in full blue												*/
/*																												*/
/*************************************** COMMENTS m-flyout ul ***************************************************/
	.m-flyout ul
	{
		list-style-type: none;
/*            float:right;*/
/*		margin: 0;*/
		padding: 0;
/*		overflow: hidden;*/
/*background-color: #00bfff;*/
	}

/*************************************** COMMENTS m-flyout > ul > li ********************************************/
/*************************************** OLD COMMENTS m-flyout li ***********************************************/
/*																												*/
/*28-9-2023																										*/
/*	set 'margin-left: 5px' 																						*/
/*		because padding was removed from .m-flyout ul															*/
/*	remove 'color: white'																						*/
/*		by default it is not possible to change the color of a list item										*/
/*																												*/
/* 7-9-2023																										*/
/*	Need to remove display: inline-block because in mobile version 												*/
/*		we do not want list items horizontally																	*/
/*	Set the margin: 5px to create space between the list items													*/
/*																												*/
/* 23-8-2023                                                                                					*/
/*  Need to modify menu-wrapper because we only set li and need to set > ul > li            					*/
/*      makes a difference because we only want to set the li-elements of the first level   					*/
/*      and not the li-elements of the sub-level                                            					*/
/*  We can also set 'text-align: center' then it will align all texts in the li             					*/
/*      also those in sub-menus, but we set 'text-align: center' in a                       					*/
/*  Need to remove the color because it is set in 'li a'                                    					*/
/*																												*/
/*************************************** COMMENTS m-flyout > ul > li ********************************************/
	.m-flyout > ul > li
	{
/*    	display: inline-block;*/
/*            float: right;*/
/*            float: none;*/
/*            padding: 10px;*/
/*color:  white;*/
margin: 5px;
	}
