

/*************************************** COMMENTS flex-container ************************************************/
/*																												*/
/* 30-9-2023																									*/
/*	change padding from 5% into 1% such that it looks prettier on mobile										*/
/*																												*/
/* 28-9-2023																									*/
/*	remove 'flex-direction: row'																				*/
/*		the flex-direction: the default is ROW                                  								*/
/*																												*/
/* 19-9-2023																									*/
/*	remove 'font-size: 20px'																					*/
/*																												*/
/* 18-9-2023																									*/
/*	padding-left and padding-rigth ensures the flex-container 													*/
/*		does not fill the complete line which would make the items stretch out over								*/
/*		the screen																								*/
/*																												*/
/* 15-9-2023																									*/
/*	removed align-items: center because do not want the flex items in the container								*/
/*		to align along the cross-axis since it looks strange													*/
/*		removal has no effect on the d-flyout nor m-flyout menu													*/
/*																												*/
/* 13-9-2023																									*/
/*	find out where float: left is set 																			*/
/*	float: left is set in element-wrapper																		*/
/*																												*/
/* 10-9-2023																									*/
/*	'align-items: center' aligns flex items along the cross axis												*/
/*		of the current line of the flex container																*/
/*																												*/
/* 9-9-2023																										*/
/*	remove 'text-align: center' because bottomContainer should be left aligned									*/
/*																												*/
/* 6-9-2023																										*/
/*	set text-align to center																					*/
/*																												*/
/* 4-9-2023																										*/
/*	justify-content: space-around provides half-sized space on the edges										*/
/*																												*/
/*	moved justify-content: space-around from topContainer														*/
/*																												*/
/*	moved align-items: center from topContainer																	*/
/*																												*/
/*	moved padding-left from topContainer																		*/
/*	moved padding-right from topContainer																		*/
/*																												*/
/* 10-9-2022																									*/
/*	attempt to create responsive 5 columns footer																*/
/*	align-items versus justify-content: we need them both x- and y-as											*/
/*	https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container	*/
/*																												*/
/* 28-6-2023																									*/
/*	justify-content controls where the flex items sit on the main axis											*/
/*	space-around: distributes all the items evenly along the main axis 											*/
/*		with a bit of space left at either end																	*/
/*	center make the flex items sit in the center of the main axis												*/
/*	https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox										*/
/*																												*/
/* 28-6-2023																									*/
/*	align-items controls where the flex items sit on the cross axis												*/
/*																												*/
/* 30-6-2023																									*/
/*	definition of the flex-container																			*/
/*************************************** COMMENTS flex-container ************************************************/
	.flex-container 
	{
		display: flex;
/*		flex-direction: row;*/
/*		flex-wrap: wrap;*/
/*		text-align: center;*/
/*		font-size: 20px;*/
		justify-content: space-around;
/*		align-items: center;*/
		padding-left:  1%;
		padding-right: 1%;
	}
